In [34]:
import os
import pandas as pd
from pathlib import Path

Test pathlib

In [43]:
%%time

# set the data path
train_test_data_path = Path('C:\Repository\DS-Intership-data') / 'train_test_data'
print(type(path))

# initiate dict for data
data = {}

# load data to dict
for file_path in train_test_data_path.iterdir():
    if file_path.is_file():
        data[file_path.stem] = pd.read_csv(file_path, index_col=0)
        print(file_path.stem)

<class 'pathlib.WindowsPath'>
submission_example
test_data
train_data
CPU times: total: 24.6 s
Wall time: 26.1 s

In [44]:
data['train_data']

,date_block_num,shop_id,item_id,item_category_id,item_cnt_month,type_code,subtype_code,shop_city,shop_category,name2,...,avg_by_month_shop_item_cnt_lag_2,avg_by_month_shop_item_cnt_lag_3,avg_by_month_city_item_cnt_lag_1,avg_by_month_cat_item_cnt_lag_1,delta_price_lag,category_cluster_id,item_price_cluster_id,cluster_id,item_shop_first_sale,item_first_sale
0,0,2,22154,37,0.0,8,1,0,8,5,...,NaN,NaN,NaN,NaN,0.0,4,0,3,0,0
1,0,3,22154,37,0.0,8,1,1,6,5,...,NaN,NaN,NaN,NaN,0.0,4,0,3,0,0
2,0,4,22154,37,0.0,8,1,2,8,5,...,NaN,NaN,NaN,NaN,0.0,4,0,3,0,0
3,0,6,22154,37,1.0,8,1,4,1,5,...,NaN,NaN,NaN,NaN,0.0,4,0,0,0,0
4,0,7,22154,37,1.0,8,1,4,7,5,...,NaN,NaN,NaN,NaN,0.0,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11101369,33,55,7640,64,0.0,11,43,27,11,5,...,NaN,NaN,NaN,NaN,0.0,4,3,3,0,0
11101370,33,56,7640,64,0.0,11,43,28,7,5,...,NaN,NaN,NaN,NaN,0.0,4,3,0,0,0
11101371,33,57,7640,64,0.0,11,43,29,4,5,...,NaN,NaN,NaN,NaN,0.0,4,3,4,0,0
11101372,33,58,7640,64,0.0,11,43,29,8,5,...,NaN,NaN,NaN,NaN,0.0,4,3,0,0,0
11101373,33,59,7640,64,0.0,11,43,30,8,5,...,NaN,NaN,NaN,NaN,0.0,4,3,3,0,0